.message {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #363739;
  padding: 2rem;
}

.loading-page {
  height: 64vh;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #808080;
  padding-top: 1.5rem;
}