.title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #205274;
  margin: 2rem 2rem;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: #4c4c4c;
  margin: 0.5rem 2rem;
  max-width: 500px;
}